.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.mainInput {
  text-align: center;
  margin-top: 30px;
}

.todoList {
  width: 300px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.active {
  background: lightblue;
  border-radius: 4px;
}

.highPriority {
  color: red;
}

.mediumPriority {
  color: cornflowerblue;
}

.lowPriority {
  color: mediumseagreen;
}

.noPriority {
  color: black;
}

.todoList-tasks {
  display: flex;
  flex-wrap: wrap;
}

.btn-tasks {
  margin-left: 5px;
}

.todoList-footer button {
  outline: none;
  margin: 0 2px;
}

.error {
  border-color: tomato;
}

.done {
  opacity: 0.5;
}

.todoList-header__title {
  display: inline-block;
  margin-right: 15px;
}