.todoList {
  width: 500px;
  margin: 0 auto;
}

.todoList > div {
  padding: 10px;
}

.active {
  background: lightblue;
}

.highPriority {
  color: red;
}

.mediumPriority {
  color: cornflowerblue;
}

.lowPriority {
  color: mediumseagreen;
}